*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}


:root{
    --bg-color:#191f36;
    --snd-bg-color:#262b40;
    --text-color:#fff;
    --main-color:#69b2f4;
}

.lightmode{
    --bg-color:#7f94e7;
    --snd-bg-color:#95add1;
    --text-color:#060606;
    --main-color:#4867c3;   
}

.button{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background: none;
    position: fixed;
    top: 2.2%;
    right: 2%;
    cursor: pointer;
    border: dotted #191f36;
}

html{
    font-size: 60%;
    overflow-x:hidden ;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}


#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight:700 ;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 30%;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1 var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img{
    width: 35vw;
    border-radius: 20%;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3, .services-box h3{
    font-size: 2.6rem;
}

.about-content p, .services-box p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}



.services h2{
    margin-bottom: 5rem;
}



.services-container{
    
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.services-box{
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 4rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: 0.3s ease;
}

.services-box:hover{
    transform: scale(1.02);
    border-color: var(--main-color);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.projects{
    background: var(--snd-bg-color);

}

.projects img{

}

.projects h2{
    margin-bottom: 5rem;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    flex: wrap;
}

.projects-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.projects-box img{
    transition: .3s ease;
    width: 100%;
}

.projects-box img:hover{
    transform: scale(1.1);
}

.projects-box .projects-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .projects-layer{
    transform: translateX(0);
}

.projects-layer{
    opacity: 0;
}

.projects-layer:hover{
    opacity: 0.7;
}
.projects-layer h4{
    font-size: 3rem;
}

.projects-layer p{
    font-size: 1.6rem;
}

.projects-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.flotbtn{
    animation: floatImage 3s ease-in-out infinite;
    margin-left: 45%;
    margin-top: 30px;
}

.contact a{
    display: block;
    color: #fff;
    font-size: larger;
    margin: 1rem;
}

.contact h2:nth-of-type(2){
    font-size: 50px;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    background: transparent;
    border: .7rem solid var(--main-color);
    border-radius: 50%;
    font-size: 7rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

footer{
    margin-left: 15rem;
}

footer p:nth-of-type(1){
margin-top: 40px;
font-size: 7rem;
}

footer p:nth-of-type(2){
    margin-left: 60%;
    font-size: 300%;
}

@media(max-width: 700px)  {
    .social-media a{
        height: 8rem;
        width: 8rem;
        font-size: 4rem;
    }

    footer{
        margin-left: 6rem;   
    }

    footer p:nth-of-type(1),footer p:nth-of-type(2){
        font-size: 3rem;
    }
}


  
  

